.List {
    padding: 20px 0;
    min-height: 100vh;
    background: #fff;
    position: relative;
}
.Chuck {
    position: absolute;
    top: 30px;
    height: 250px;
    width: auto;
}
.Chuck-1 {
    left: -220px;
    -webkit-animation: rotation-1 3s infinite linear;

}
.Chuck-2 {
    right: -220px;
    -webkit-animation: rotation-2 3s infinite linear;

}
@-webkit-keyframes rotation-1 {
     from {
         -webkit-transform: rotate(359deg);
     }
     to {
         -webkit-transform: rotate(0deg);
     }
 }
@-webkit-keyframes rotation-2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}